<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.aluminati.inventory">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/mainicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mainicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity
            android:name=".info_page"
            android:label="@string/title_activity_info_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".login.authentication.AuthenticationActivity" android:screenOrientation="portrait"/>
        <activity android:name=".fragments.PhoneAuthenticationFragment" android:screenOrientation="portrait"/>
        <activity android:name=".InfoPageActivity" android:screenOrientation="portrait"/>
        <activity android:name=".login.authentication.ForgotPasswordActivity" android:screenOrientation="portrait"/>
        <activity android:name=".userprofile.UserProfile" android:screenOrientation="portrait"/>
        <activity android:name=".LogInActivity" android:screenOrientation="portrait"/>
        <activity android:name=".HomeActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".register.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>


        <activity android:name=".login.authentication.phoneauthentication.PhoneAuthentication" android:screenOrientation="portrait"/>
        <activity android:name=".login.authentication.password.PassWordReset" android:screenOrientation="portrait"/>
    </application>

</manifest>